.create-picture-form {
	padding: 20px;
	md-input-container {
		padding: 0 10px 20px;
	}
}
.image-preview-wrapper {
	padding: 20px 50px;
	text-align: center;
	@media (max-width: 960px) {
		padding: 50px 10px 0;
	};
	img {
		width: 100%;
	}
}
.action-toolbar {
	margin-top: .8em;
	button {
		margin: 0 .2em;
	}
}
.or-divider {
	display: block;
	text-transform: uppercase;
}