a {
    @include linkColor($main-color);
    transition: $color-animation;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.pagination {
    margin-top: 3em;
}
.md-toolbar-tools {
    a {
        &:hover, &:active, &:focus {
            color: inherit;
        }
    }
}
md-input-container {
    label {
        color: rgba(0, 0, 0, .5) !important;
    }
}
.footer {
    margin: 60px auto 20px;
    text-align: center;
    color: $sub-text-color;
    .copyright {
        a {
            color: $sub-text-color;
        }
    }
}
.loading {
    background: rgba(255, 255, 255, .6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    md-progress-circular {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.header {
    .lang {
        color: rgb(187,222,251);
        font-size: .7em;
        cursor: pointer;
        &.current {
            color: #ffffff;
            cursor: initial;
        }
    }
    .divider {
        margin: 0 5px;
    }
}