<div ng-controller="HeaderController">
    <md-toolbar class="md-whiteframe-z1 header">
        <div class="md-toolbar-tools" layout="column" layout-gt-md="column" layout-align="space-between center" layout-align-gt-md="center">
            <i class="flaticon-menu" ng-click="toggleMenu()" hide-gt-md></i>

            <div class="logo" flex flex-gt-md="20" layout-gt-md="row" layout-align="center center">
                <a class="navbar-brand" href="#home">Funny pictures</a>
            </div>

            <md-tabs flex hide-sm hide-md>
                <md-tab id="tab1" aria-controls="tab3-content" ng-click="go('/home')" md-active="isActive('/home')">
                    {{'HOME_HEADER' |translate}}
                </md-tab>
                <md-tab id="tab2" aria-controls="tab1-content" ng-click="go('/templates')" md-active="isActive('/templates')">
                    {{'TEMPLATES_HEADER' |translate}}
                </md-tab>
                <md-tab id="tab3" aria-controls="tab2-content" ng-click="go('/createTemplate')" md-active="isActive('/createTemplate')">
                    {{'CREATE_TEMPLATE_HEADER' |translate}}
                </md-tab>
                <md-tab id="tab4" aria-controls="tab3-content" ng-click="go('/contact')" md-active="isActive('/contact')">
                    {{'CONTACT_US_HEADER' |translate}}
                </md-tab>
            </md-tabs>

            <div layout="row" layout-align="center center" flex="10" hide-sm hide-md>
                <span class="lang" ng-class="{current: getCurrentLanguage() == 'uk'}" ng-click="getCurrentLanguage() != 'uk' && changeLanguage('uk')">UA</span>
                <span class="divider">|{{ use() }}</span>
                <span class="lang" ng-class="{current: getCurrentLanguage() == 'en_US'}" ng-click="getCurrentLanguage() != 'en_US' && changeLanguage('en_US')">EN</span>
            </div>
        </div>
    </md-toolbar>

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" ng-hide="$media('gt-md')">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Funny pictures</h1>
        </md-toolbar>
        <md-content>
            <ul class="side-menu">
                <li>
                    <menu-link class="menu-item md-button md-default-theme" ng-class="{'active' : isActive('/home')}" ng-click="go('/home')">
                        {{'HOME_HEADER' |translate}}
                    </menu-link>
                </li>
                <li>
                    <menu-link>
                        <span class="menu-item md-button md-default-theme" ng-class="{'active' : isActive('/templates')}" ng-click="go('/templates')">
                        {{'TEMPLATES_HEADER' |translate}}
                    </span>
                    </menu-link>
                </li>
                <li>
                    <menu-link>
                        <span class="menu-item md-button md-default-theme" ng-class="{'active' : isActive('/createTemplate')}" ng-click="go('/createTemplate')">
                        {{'CREATE_TEMPLATE_HEADER' |translate}}
                    </span>
                    </menu-link>
                </li>
                <li>
                    <menu-link>
                        <span class="menu-item md-button md-default-theme" ng-class="{'active' : isActive('/contact')}" ng-click="go('/contact')">
                        {{'CONTACT_US_HEADER' |translate}}
                    </span>
                    </menu-link>
                </li>
            </ul>
            <ul class="bottom-side-menu">
                <li ng-hide="getCurrentLanguage() == 'uk'">
                    <menu-link class="menu-item md-button md-default-theme" ng-click="getCurrentLanguage() != 'uk' && changeLanguage('uk')">
                        Українська версія
                    </menu-link>
                </li>
                <li ng-hide="getCurrentLanguage() == 'en_US'">
                    <menu-link class="menu-item md-button md-default-theme" ng-click="getCurrentLanguage() != 'en_US' && changeLanguage('en_US')">
                        English version
                    </menu-link>
                </li>
            </ul>
        </md-content>
    </md-sidenav>
</div>
