html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

body>.container {
	padding: 30px 15px 0;
}

.container .text-muted {
	text-align: center;
	margin: 20px 0;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

.pagination-center {
	text-align: center;
}

.thumb {
	margin-bottom: 30px;
}

.thumb a img {
	width: 100%;
	height: 300px;
}

.input-form {
	margin-right: 40px;
	margin-top: 20px;
}

.imagePreview {
	padding-top: 30px;
	display: block;
	width: auto;
	height: auto;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}

.jumbotron {
	background: #358CCE;
	color: #FFF;
	border-radius: 0px;
}

.jumbotron-sm {
	padding-top: 60px;
	padding-bottom: 24px;
}

.jumbotron small {
	color: #FFF;
}

.h1 small {
	font-size: 24px;
}

input[readonly] {
	background-color: white !important;
	cursor: text !important;
}

#mainContainer {
	padding-top: 40px;
}