<md-content class="md-padding contact-us" layout="row">
    <md-card class="contact-form" flex="66">
        <h2>Feel free to contact us</h2>
        <md-card-content>
            <form name="contactForm">
                <div layout layout="column">
                    <md-input-container flex>
                        <label>Name</label>
                        <input ng-model="feedback.name" name="name" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Email</label>
                        <input ng-model="feedback.email" name="email" type="email" required>
                    </md-input-container>
                </div>
                <md-input-container flex>
                    <label>Subject</label>
                    <input ng-model="feedback.subject" name="subject" required>
                </md-input-container>
                <md-input-container flex>
                    <label>Message</label>
                    <textarea ng-model="feedback.text" columns="1" rows="4" name="message" required></textarea>
                </md-input-container>
                <div layout="row" layout-align="end center">
                    <md-button type="submit" class="md-raised md-primary md-button md-default-theme" ng-click="sendFeedback()" ng-disabled="isButtonDisabled()">Send Message</md-button>
                </div>
            </form>
        </md-card-content>
    </md-card>
    <div class="contact-details" flex="33">
        <h3>Our contacts</h3>
        <span>12 Storozhenka St., Lviv</span>
        <span>[Galicia] Ukraine</span>
        <strong>Email:</strong>
        <a href="mailto:ask@optigra-soft.com" title="Send email">ask@optigra-soft.com</a>
    </div>
</md-content>

