<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Upload your template
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container" id="mainContainer">
    <div class="row">
        <div class="col-lg-6">
            <form name="templateInputForm" class="input-form">
                <div class="form-group" ng-class="{ 'has-error': templateInputForm.pictureTitle.$invalid}">
                    <label class="control-label"> Template title </label>
                    <input type="text" placeholder="Picture title" name="pictureTitle" ng-model="pictureTitle"
                           class="form-control" required/>
                </div>
                <div class="form-group" ng-class="{ 'has-error': templateInputForm.fileName.$invalid}">
                    <label class="control-label">Browse path to file...</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file"> Browse&hellip;
                                <input type="file" file-model="myFile" accept="image/*" >
                            </span>
                        </span>
                        <input type="text" name="fileName" class="form-control" ng-model="myFile.name" readonly>
                    </div>
                </div>

                <div>
                    <button class="btn btn-primary" ng-click="uploadFile()" ng-disabled="isButtonDisabled()">
                        Upload File
                    </button>
                </div>
            </form>
        </div>
        <div class="col-lg-6 align-center">
            <img id="imagePreview" src="" alt="your image" style="width: 100%"/>
        </div>
    </div>
</div>
