<md-content class="md-padding create-piture" layout="column" layout-gt-md="row">
    <div flex-gt-md="50">
        <md-card class="create-piture-form">
            <img ng-src="{{template.url}}" ng-show="template.url && !loaded">
            <img ng-src="{{funnyPicture.url}}" ng-show="funnyPicture.url && loaded">
            <md-card-content>
                <form name="funnyPictureText" ng-hide="loaded">
                    <md-input-container flex>
                        <label>{{'HEADER_TEXT_LABEL' | translate}}</label>
                        <input ng-model="headerText" name="headerText" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label>{{'FOOTER_TEXT_LABEL' | translate}}</label>
                        <input ng-model="footerText" name="footerText" required>
                    </md-input-container>
                    <div layout="row" layout-align="end center">
                        <md-button type="submit" class="md-raised md-primary md-button md-default-theme" ng-click="createFunnyPicture()" ng-disabled="isButtonDisabled()">{{'CREATE_FUNNY_BUTTON' | translate}}</md-button>
                    </div>
                </form>
                <div class="action-toolbar" layout="row" layout-align="end center" ng-show="loaded">
                    <md-button class="md-button" target="_self" ng-href="{{funnyPicture.url}}" download="{{funnyPicture.name}}">{{'DOWNLOAD_LABEL' | translate}}</md-button>
                    <md-button class="md-warn" ng-click="cancel()">{{'CANCEL_BUTTON' | translate}}</md-button>
                    <md-button type="submit" class="md-raised md-primary" ng-click="createNew()">{{'CREATE_NEW_BUTTON' | translate}}</md-button>
                </div>
            </md-card-content>
        </md-card>
        <div id="disqus_thread" class="comments">
            <noscript>{{'COMMENTS_FALLBACK_1' | translate}} <a href="https://disqus.com/?ref_noscript">{{'COMMENTS_FALLBACK_2' | translate}}</a>
            </noscript>
        </div>
    </div>
    <div class="image-preview-wrapper" flex-gt-md="50">
        <div masonry="{ 'isFitWidth': true }" class="masonry">
            <div class="masonry-brick md-whiteframe-z1" ng-repeat="funnyByTemplate in funniesByTemplate">
                <a class="brick-inside" ng-href="#/preview/{{funnyByTemplate.funnyPictureId}}">
                    <img ng-src="{{funnyByTemplate.url}}" alt="">
                </a>
            </div>
        </div>
        <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-change="pageChanged()" ng-show="showPagination()"></pagination>
    </div>
</md-content>

<div class="loading" ng-show="progress">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<script type="text/javascript">
var disqus_shortname = 'funnypicturesmeme';

(function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>