<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Created funny pictures
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container" id="mainContainer">

    <div class="row">
        <div ng-repeat="funny in funnies"
             class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#"> <img class="img-responsive"
                                                ng-src="{{funny.url}}" alt="">
            </a>
        </div>

    </div>
    <div class="row allign-center">
        <div class="col-lg-12">
            <pagination total-items="totalItems" ng-model="currentPage"
                        items-per-page="itemsPerPage" ng-change="pageChanged()"
                        ng-show="showPagination()"></pagination>
        </div>
    </div>
</div>