<md-content class="md-padding create-piture" layout="row">
    <div flex="50">
        <md-card class="create-piture-form">
            <img ng-src="{{funnyPicture.url}}" ng-show="funnyPicture.url">
            <meta itemprop="image" content="{{funnyPicture.url}}">
            <meta property="og:url" content="{{currentLocation}}" />
            <meta property="og:image" content="{{funnyPicture.url}}" />
            <meta name="twitter:site" content="{{currentLocation}}">
            <meta name="twitter:image:src" content="{{funnyPicture.url}}">
            <md-card-content>
                <div class="action-toolbar" layout="row" layout-align="space-between center">
                    <div>
                        <span>{{'SHARE_LABEL' | translate}}</span>
                        <ul class="social-share">
                            <li>
                                <a class="social-link flaticon-twitter" href="#" ng-click="shareSocial('https://twitter.com/home?status=',600,250)"></a>
                            </li>
                            <li>
                                <a class="social-link flaticon-facebook" href="#" ng-click="shareSocial('https://www.facebook.com/sharer/sharer.php?u=',600,500)"></a>
                            </li>
                            <li>
                                <a class="social-link flaticon-googleplus" href="#" ng-click="shareSocial('https://plus.google.com/share?url=',600,500)"></a>
                            </li>
                        </ul>
                    </div>
                    <md-button class="md-raised md-primary md-button" target="_self" ng-href="{{funnyPicture.url}}" download="{{funnyPicture.name}}">{{'DOWNLOAD_LABEL' | translate}}</md-button>
                </div>
            </md-card-content>
        </md-card>
        <div id="disqus_thread" class="comments">
            <noscript>{{'COMMENTS_FALLBACK_1' | translate}} <a href="https://disqus.com/?ref_noscript">{{'COMMENTS_FALLBACK_2' | translate}}</a>
            </noscript>
        </div>
    </div>
    <div class="image-preview-wrapper" flex="50">
        <div masonry>
            <div class="masonry-brick md-whiteframe-z1" ng-repeat="funnyByTemplate in funniesByTemplate">
                <a ng-click="swapFunnyPicture(funnyByTemplate)">
                    <img ng-src="{{funnyByTemplate.url}}" alt="">
                </a>
            </div>
        </div>
        <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-change="pageChanged()" ng-show="showPagination()"></pagination>
    </div>
</md-content>

<script type="text/javascript">
var disqus_shortname = 'funnypicturesmeme';

(function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>