<md-content class="md-padding create-piture" layout="column" layout-gt-md="row">
    <div flex-gt-md="50">
        <md-card class="create-piture-form">
            <img id="image" ng-src="{{vm.funnyPicture.url}}" ng-show="vm.funnyPicture.url" reload-disqus="{{vm.funnyPicture.id}}">
            <meta itemprop="image" content="{{vm.funnyPicture.url}}">
            <meta property="og:url" content="{{vm.currentLocation}}" />
            <meta property="og:image" content="{{vm.funnyPicture.url}}" />
            <meta name="twitter:site" content="{{vm.currentLocation}}">
            <meta name="twitter:image:src" content="{{vm.funnyPicture.url}}">
            <md-card-content>
                <div class="action-toolbar" layout="row" layout-align="space-between center">
                    <div>
                        <span>{{'SHARE_LABEL' | translate}}</span>
                        <ul class="social-share">
                            <li>
                                <a class="social-link flaticon-twitter" href="#" ng-click="vm.shareSocial('https://twitter.com/home?status=',600,250)"></a>
                            </li>
                            <li>
                                <a class="social-link flaticon-facebook" href="#" ng-click="vm.shareSocial('https://www.facebook.com/sharer/sharer.php?u=',600,500)"></a>
                            </li>
                            <li>
                                <a class="social-link flaticon-googleplus" href="#" ng-click="vm.shareSocial('https://plus.google.com/share?url=',600,500)"></a>
                            </li>
                        </ul>
                    </div>
                    <md-button class="md-raised md-primary md-button" target="_self" ng-href="{{vm.funnyPicture.url}}" download="{{vm.funnyPicture.name}}">{{'DOWNLOAD_LABEL' | translate}}</md-button>
                </div>
            </md-card-content>
        </md-card>
        <div id="disqus_thread" class="comments">
            <noscript>{{'COMMENTS_FALLBACK_1' | translate}} <a href="https://disqus.com/?ref_noscript">{{'COMMENTS_FALLBACK_2' | translate}}</a>
            </noscript>
        </div>
    </div>
    <div class="image-preview-wrapper" flex-gt-md="50">
        <div masonry="{ 'isFitWidth': true }" class="masonry">
            <div class="masonry-brick md-whiteframe-z1" ng-repeat="funnyByTemplate in vm.funniesByTemplate">
                <a ng-click="vm.swapFunnyPicture(funnyByTemplate)">
                    <img ng-src="{{funnyByTemplate.url}}" alt="">
                </a>
            </div>
        </div>
        <pagination total-items="vm.totalItems" ng-model="vm.currentPage" items-per-page="vm.itemsPerPage" ng-change="vm.pageChanged()" ng-show="vm.showPagination()"></pagination>
    </div>
</md-content>