<div layout="row">
	<div class="gallery-wrapper" flex="80">
	    <div masonry="{ 'isFitWidth': true }" class="masonry">
	        <div class="masonry-brick" ng-repeat="pictureThumbnail in pictureThumbnails">
	            <a class="brick-inside" ng-click="createFunnyPicture(pictureThumbnail.pictureId)">
	                <img ng-src="{{pictureThumbnail.url}}" alt="">
	            </a>
	        </div>
	    </div>
	    <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-change="pageChanged()" ng-show="showPagination()"></pagination>
	</div>
</div>