@import "angular-material";
@import "vendor/flaticon";
@import "base";
@import "partials/global";
@import "partials/side-menu";
@import "partials/helper";
@import "partials/gallery";
@import "partials/create-picture";
@import "partials/preview-funny-picture";
@import "partials/contact-us";
